{% extends 'base.html' %}

{% block title %}Upload CSV{% endblock %}

{% block content %}
<div class="content">
    <h1>Filter PARQ by email</h1>
    <p style="margin-bottom: 30px;">(Files must be .csv and emails must not include any headers)</p>

    <form class="csv_form" method="POST" action="/parq" enctype="multipart/form-data">
        <div class="files-container">
            
            <div style="margin-bottom: 20px;">
                <label for="parq_file"><strong>Upload raw PARQ file</strong></label><br>
                <label class="btn btn-outline-primary">
                    <input type="file" name="parq_file" id="parq_file" accept=".csv" required>
                    Choose File
                </label>
                <span id="parq_filename" class="filename-display"></span>
            </div>
            
            <div style="margin-bottom: 20px;">
                <label for="emails"><strong>Upload file with emails</strong></label><br>
                <label class="btn btn-outline-primary">
                    <input type="file" name="emails" id="emails" accept=".csv" required>
                    Choose File
                </label>
                <span id="emails_filename" class="filename-display"></span>
            </div>

        </div>
        <button class="btn btn-primary" type="submit" style="width: 200px; margin: 0 auto;">Upload & Convert</button>
    </form>

    {% if result %}
        <h2 style="margin-top: 50px;">{{ result }}</h2>
        {% if csv_filename %}
            <p><a href="{{ url_for('download_file', filename=csv_filename) }}" class="btn btn-success" style="margin-top: 15px;">Download CSV</a></p>
        {% endif %}
    {% endif %}

    <hr style="margin: 60px auto; width: 60%; border: 1px solid #ccc;">

    <div class="example-format">
        <h2 style="margin-bottom: 20px;">Example Files</h2>
        <div class="example-files">
            <div>
                <h3>Example PARQ Report</h3>    
                <a href="{{ url_for('static', filename='test-files/test-parq-report.csv') }}" class="btn btn-outline-primary" download>Download PARQ</a>
            </div>
            <div>
                <h3>Example Email List</h3>
                <a href="{{ url_for('static', filename='test-files/test-emails.csv') }}" class="btn btn-outline-primary" download>Download Emails</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
